@model IPagedList<UniQR2.Models.Course>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCourseModal">
    Add new course
</button>

<form class="form-inline float-right" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="Search" value="@ViewBag.search" />
    <button class="btn btn-primary" type="submit">Search</button>
</form>

@if (TempData["message"] != null)
{
    NotificationViewModel message = NotificationViewModel.GetNotificationFromJson(TempData["message"].ToString());

    <div class="mt-4 card margin-top bg-gradient-@message.NotificationType.ToString()">
        <div class="card-header">
            <h3 class="card-title">@message.Title</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @message.Content
        </div>
        <!-- /.card-body -->
    </div>
}

@if (ViewBag.search != null)
{
    <div class="mt-4 card margin-top bg-gradient-info">
        <div class="card-header">
            <h3 class="card-title">Search Results</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @ViewBag.searchCount results have been found from the search for "@ViewBag.search" in <span class="badge badge-light">Course Name</span> and <span class="badge badge-light">Code</span><br />
            @Html.ActionLink("Clear Search", "Index", "Course", null, new { @class = "btn btn-sm btn-default mt-2" })
        </div>
        <!-- /.card-body -->
    </div>
}

<div class="card card-primary mt-4">


    <div class="card-header">
        <b>Course List</b>
    </div>


    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:6%">#.</th>
                <th>Course Name</th>
                <th>Course Code</th>
                <th class="text-right" style="width:10%">İşlem</th>
            </tr>
        </thead>

        <tbody>
            @{
                int page = ((int)ViewBag.page);
                int counter = (page - 1) * 10;
            }

            @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <td>@counter.</td>
                    <td>@item.Name</td>
                    <td>@item.Code</td>
                    <td class="text-right">
                        <button type="button" class="btn btn-sm btn-warning editBtn" data-toggle="modal" data-target="#editCourseModal" data-id="@item.CourseID">
                            Edit
                        </button>
                        <button type="button" class="btn btn-sm btn-danger editBtn" data-toggle="modal" data-target="#deleteCourseModal" data-id="@item.CourseID">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>






    <div class="col-md-12">
        <div class="float-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewBag.search }), new PagedListRenderOptionsBase
       {
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link", "text-bold" },
           DisplayLinkToFirstPage = PagedListDisplayMode.Always,
           DisplayLinkToLastPage = PagedListDisplayMode.Always,
           DisplayLinkToNextPage = PagedListDisplayMode.Always,
           DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
           DisplayLinkToIndividualPages = true
       })
        </div>
    </div>
</div>
<!--ADD-->
<div class="modal fade" tabindex="-1" role="dialog" id="addCourseModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Course" asp-action="AddCourse" method="post">
                    <div class="form-group">
                        <label for="Name">Coruse Name </label>
                        <input type="text" id="Name" name="name" placeholder="Enter course's name" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="Code">Course Code </label>
                        <input type="code" id="Code" name="code" placeholder="Enter course's code" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Add" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>

<!--EDIT-->
<div class="modal fade" tabindex="-1" role="dialog" id="editCourseModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Course" asp-action="EditCourse" method="post">
                    <input type="hidden" name="CourseID" id="CourseID"/>
                    <div class="form-group">
                        <label for="Name">Coruse Name </label>
                        <input type="text" id="Name" name="name" placeholder="Enter course's name" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="Code">Course Code </label>
                        <input type="code" id="Code" name="code" placeholder="Enter course's code" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Edit" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>

<!--DELETE-->
<div class="modal fade" tabindex="-1" role="dialog" id="deleteCourseModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Course" asp-action="DeleteCourse" method="post">
                    <input type="hidden" name="CourseID" id="CourseID" />
                    <div class="form-group">
                        <label for="Name">Coruse Name </label>
                        <input type="text" id="Name"  placeholder="Enter course's name" class="form-control" required readonly/>
                    </div>

                    <div class="form-group">
                        <label for="Code">Course Code </label>
                        <input type="code" id="Code"  placeholder="Enter course's code" class="form-control" required  readonly/>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(function () {
            $(".editBtn").on("click", function () {
                var courseId = $(this).data("id");
                var getUserUrl = "@Url.Action("GetCourse", "Course", null, "http")";
                var fullUrl = getUserUrl + "/" + courseId;

                $.get(fullUrl, function (data, status) {
                    $("input#Name").val(data.name);
                    $("input#Code").val(data.code);
                    $("input#CourseID").val(data.courseID);
                });

            })
        })
    </script>

}