@model PagedList<UniQR2.Models.CourseClassroom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#addClassModal">
    Add new Class
</button>

<form class="form-inline float-right" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="@ViewBag.search" />
    <button class="btn btn-primary" type="submit">Search</button>
</form>

@if (TempData["message"] != null)
{
    NotificationViewModel message = NotificationViewModel.GetNotificationFromJson(TempData["message"].ToString());

    <div class="mt-4 card margin-bottom-top bg-gradient-@message.NotificationType.ToString()">
        <div class="card-header">
            <h3 class="card-title">@message.Title</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
}

<div class="card card-primary mt-4">

    <div class="card-header">
        Class List
    </div>

    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:6%">#.</th>
                <th>Clasroom</th>
                <th>Instructor</th>
                <th>Course</th>
                <th class="text-right" style="width:10%">İşlem</th>
            </tr>
        </thead>
        <tbody>
            @{
                int page = ((int)ViewBag.page);
                int counter = (page - 1) * 10;
            }

            @foreach (var item in Model)
            {
                counter++;

                <tr>
                    <td>@counter</td>
                    <td>@item.Classroom.Name</td>
                    <td>@item.Instructor.FullName</td>
                    <td>@item.Course.Code</td>
                    <td class="text-right">
                        <button class="btn btn-sm btn-warning editBtn" data-toggle="modal" data-target="#editClassModal" data-id="@item.CourseClassroomID">
                            Edit
                        </button>

                        <button class="btn btn-sm btn-danger editBtn" data-toggle="modal" data-target="#deleteClassModal" data-id="@item.CourseClassroomID">
                            Delete
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="col-md-12">
        <div class="float-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewBag.search }), new PagedListRenderOptionsBase
       {
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link", "text-bold" },
           DisplayLinkToFirstPage = PagedListDisplayMode.Always,
           DisplayLinkToLastPage = PagedListDisplayMode.Always,
           DisplayLinkToNextPage = PagedListDisplayMode.Always,
           DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
           DisplayLinkToIndividualPages = true
       })
        </div>
    </div>

</div>


<!--ADD-->
<div class="modal fade" tabindex="-1" role="dialog" id="addClassModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new class</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Class" asp-action="AddClass" method="post">

                    <div class="form-group">
                        <label for="Classroom">Classroom:</label>
                        <select class="form-control ClassroomID" name="ClassroomID">
                            <option value="0">Select a Classroom</option>
                            @foreach (var item in (List<Classroom>)ViewBag.classroom)
                            {
                                <option value="@item.ClassroomID">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Instructor">Instructor:</label>
                        <select class="form-control InstructorID" name="InstructorID">
                            <option value="0">Select an Insturctor</option>
                            @foreach (var item in (List<User>)ViewBag.ins)
                            {
                                <option value="@item.UserID">@item.FullName</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Course">Course:</label>
                        <select class="form-control CourseID" name="CourseID">
                            <option value="0">Select a Course</option>
                            @foreach (var item in (List<Course>)ViewBag.course)
                            {
                                <option value="@item.CourseID">@item.Code</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Add" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>


<!--Edit-->
<div class="modal fade" tabindex="-1" role="dialog" id="editClassModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Class</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Class" asp-action="EditClass" method="post">
                    <input type="hidden" class="CourseClassroomID" id="CourseClassroomID" name="CourseClassroomID" />

                    <div class="form-group">
                        <label for="Classroom">Classroom:</label>
                        <select class="form-control ClassroomID" name="ClassroomID">
                            <option value="ClassroomID"></option>
                            @foreach (var item in (List<Classroom>)ViewBag.classroom)
                            {
                                <option value="@item.ClassroomID">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Instructor">Instructor:</label>
                        <select class="form-control InstructorID" name="InstructorID">
                            <option value="0">Select an Insturctor</option>
                            @foreach (var item in (List<User>)ViewBag.ins)
                            {
                                <option value="@item.UserID">@item.FullName</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Course">Course:</label>
                        <select class="form-control CourseID" name="CourseID">
                            <option value="CourseID"></option>
                            @foreach (var item in (List<Course>)ViewBag.course)
                            {
                                <option value="@item.CourseID">@item.Code</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Edit" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>

<!--Delete-->
<div class="modal fade" tabindex="-1" role="dialog" id="deleteClassModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Class</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Class" asp-action="DeleteClass" method="post">
                    <input type="hidden" class="CourseClassroomID" id="CourseClassroomID" name="id" />

                    <div class="form-group">
                        <label for="Classroom">Classroom:</label>
                        <select class="form-control ClassroomID" name="ClassroomID" disabled>
                            <option value="ClassroomID"></option>
                            @foreach (var item in (List<Classroom>)ViewBag.classroom)
                            {
                                <option value="@item.ClassroomID">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Instructor">Instructor:</label>
                        <select class="form-control InstructorID" name="InstructorID" disabled>
                            <option value="0">Select an Insturctor</option>
                            @foreach (var item in (List<User>)ViewBag.ins)
                            {
                                <option value="@item.UserID">@item.FullName</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Course">Course:</label>
                        <select class="form-control CourseID" name="CourseID" disabled>
                            <option value="CourseID"></option>
                            @foreach (var item in (List<Course>)ViewBag.course)
                            {
                                <option value="@item.CourseID">@item.Code</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".editBtn").on("click", function () {
                var courseClassroomID = $(this).data("id");
                var getUserUrl = "@Url.Action("GetClass", "Class", null, "http")";
                var fullUrl = getUserUrl + "/" + courseClassroomID;

                $.get(fullUrl, function (data, status) {
                    $("select.ClassroomID").val(data.classroomID);
                    $("select.CourseID").val(data.courseID);
                    $("select.InstructorID").val(data.instructorID);
                    $("input.CourseClassroomID").val(data.courseClassroomID);
                });

            })
        })
    </script>
}