@model PagedList<UniQR2.Models.AttendanceList>

@{
    ViewData["Title"] = "Attendance";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}



<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#addAttendanceModal">
    Yeni Yoklama Ekle
</button>

<form class="form-inline float-right" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="@ViewBag.search" />
    <button class="btn btn-primary" type="submit">Search</button>
</form>

@if (TempData["message"] != null)
{
    NotificationViewModel message = NotificationViewModel.GetNotificationFromJson(TempData["message"].ToString());

    <div class="mt-4 card margin-bottom-top bg-gradient-@message.NotificationType.ToString()">
        <div class="card-header">
            <h3 class="card-title">@message.Title</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>

        <!-- /.card-header -->
        <div class="card-body">
            @message.Content
        </div>
        <!-- /.card-body -->

    </div>
}


@if (ViewBag.search != null)
{
    <div class="mt-4 card margin-top bg-gradient-info">
        <div class="card-header">
            <h3 class="card-title"></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @ViewBag.searchCount results have been found from the search for "@ViewBag.search" in <span class="badge badge-light">Class name</span> and <span class="badge badge-light">Floor</span><br />
            @Html.ActionLink("Clear Search", "Index", "Classroom", null, new { @class = "btn btn-sm btn-default mt-2" })
        </div>
        <!-- /.card-body -->
    </div>
}

<div class="card card-danger mt-4">
    <div class="card-header">
        <b>Attendance List</b>
    </div>

    <table class="table table-hover table-bordered table-striped">
        <thead>
        <th style="width:6%">#</th>
        <th>Week</th>
        <th>Date</th>
        <th class="text-right" style="width:20%">Action</th>
        </thead>

        <tbody>
            @{
                int page = ((int)ViewBag.page);
                int counter = (page - 1) * 10;
            }


            @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <td>@counter</td>
                    <td>@item.Name</td>
                    <td>@item.StartDate.ToShortDateString()</td>
                    <td class="text-right">
                        <button class="btn btn-sm btn-warning editBtn" data-toggle="modal" data-target="#editAttendanceModal" data-id="@item.AttendanceListID">
                            Edit
                        </button>
                        <button class=" btn btn-sm btn-danger editBtn" data-toggle="modal" data-target="" data-id="@item.AttendanceListID">
                            QR
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="col-md-12">
        <div class="float-right">
            @Html.PagedListPager(Model, page => Url.Action("Attendance", new { page, search = ViewBag.search }), new PagedListRenderOptionsBase
       {
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link", "text-bold" },
           DisplayLinkToFirstPage = PagedListDisplayMode.Always,
           DisplayLinkToLastPage = PagedListDisplayMode.Always,
           DisplayLinkToNextPage = PagedListDisplayMode.Always,
           DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
           DisplayLinkToIndividualPages = true
       })
        </div>
    </div>

</div>

<!--ADD-->
<div class="modal fade" tabindex="-1" role="dialog" id="addAttendanceModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Yeni Yoklama Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="MyClasses" asp-action="Attendance" method="post">
                    <input type="hidden" name="CourseClassroomId" value="@ViewBag.courseId" />
                    <div class="form-group">
                        <label for="StartDate">Start date </label>
                        <input type="date" id="StartDate" name="StartDate" placeholder="Enter the start date" class="form-control hasDatepicker" textmode="Date" required />
                    </div>

                    <div class="form-group">
                        <label for="EndDate">End date </label>
                        <input type="date" id="EndDate" name="EndDate" placeholder="Enter the end date" class="form-control hasDatepicker" textmode="Date" required />
                    </div>

                    <div class="form-group">
                        <label for="EndDate">Start hour </label>
                        <input type="time" id="StartHour" name="StartHour" placeholder="Enter the end date" class="form-control hasDatepicker" textmode="Time" required />
                    </div>

                    <div class="form-group">
                        <label for="EndDate">End hour </label>
                        <input type="time" id="EndHour" name="EndHour" placeholder="Enter the end date" class="form-control hasDatepicker" textmode="Time" required />
                    </div>

                    @*<div class="form-group">
            <label for="CourseClassroomId">Course </label>
            <input type="text" id="CourseClassroomId" name="CourseClassroomId" placeholder="Course" class="form-control" required />
        </div>*@

                    <div class="form-group">
                        <label for="Repeat">Repeat </label>
                        <input type="checkbox" name="Repeat" class="form-control" value="true" />
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>

<link href="~/css/jquery-ui.min.css" rel="stylesheet"/>

@section scripts{ 

    <script src="~/js/jquery-ui.min.js"></script>

<script>
    $(function)(){
        $(".hasDatepicker").datepicker();
    });
</script>

}