@model IEnumerable<UniQR2.Models.File>

@{
    ViewData["Title"] = "Files";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#addFileModal">
    Add new file
</button>

<form class="form-inline float-right" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="Search" value="@ViewBag.search" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>


@if (TempData["message"] != null)
{
    NotificationViewModel message = NotificationViewModel.GetNotificationFromJson(TempData["message"].ToString());

    <div class="mt-4 card margin-bottom-top bg-gradient-@message.NotificationType.ToString()">
        <div class="card-header">
            <h3 class="card-title">@message.Title</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>

        <!-- /.card-header -->
        <div class="card-body">
            @message.Content
        </div>
        <!-- /.card-body -->

    </div>
}


<div class="card card-primary mt-4">
    <div class="card-header">
        <b>File List</b>
    </div>

    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:6%">#.</th>
                <th>File</th>
                <th class="text-right" style="width:10%">İşlem</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;
            }

            @foreach (var item in Model)
            {
                counter++;

                <tr>
                    <td>@counter</td>
                    <td>
                    <a href="~/DownloadFile/DownloadFile/?fileName=@item.DataPath">
                        @item.FileName
                    </a>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-danger btn-sm removeBtn" data-toggle="modal" data-target="#removeFileBtn" data-id="@item.FileID">Remove File</button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="addFileModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="MyClasses" asp-action="Files" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <input type="hidden" name="CourseClassroomId" value="@ViewBag.courseId" class="form-control-file" />
                        <label for="file">File: </label>
                        <input type="file" name="file" class="button" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Gönder" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>
