@model PagedList<UniQR2.Models.CourseClassroom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


@*<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#addClassroomModal">
    </button>*@

<form class="form-inline float-right" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="@ViewBag.search" />
    <button class="btn btn-primary" type="submit">Search</button>
</form>


<br clear="all" />

@if (TempData["message"] != null)
{
    NotificationViewModel message = NotificationViewModel.GetNotificationFromJson(TempData["message"].ToString());

    <div class="mt-4 card margin-bottom-top bg-gradient-@message.NotificationType.ToString()">
        <div class="card-header">
            <h3 class="card-title">@message.Title</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>

        <!-- /.card-header -->
        <div class="card-body">
            @message.Content
        </div>
        <!-- /.card-body -->

    </div>
}

@if (ViewBag.search != null)
{
    <div class="mt-4 card margin-top bg-gradient-info">
        <div class="card-header">
            <h3 class="card-title"></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @ViewBag.searchCount results have been found from the search for "@ViewBag.search" in <span class="badge badge-light">Class name</span> and <span class="badge badge-light">Floor</span><br />
            @Html.ActionLink("Clear Search", "Index", "Classroom", null, new { @class = "btn btn-sm btn-dedfault mt-2" })
        </div>
        <!-- /.card-body -->
    </div>
}


@if (ViewBag.search != null)
{
    <div class="mt-4 card margin-top bg-gradient-info">
        <div class="card-header">
            <h3 class="card-title"></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @ViewBag.searchCount results have been found from the search for "@ViewBag.search" in <span class="badge badge-light">Class name</span> and <span class="badge badge-light">Floor</span><br />
            @Html.ActionLink("Clear Search", "Index", "Classroom", null, new { @class = "btn btn-sm btn-dedfault mt-2" })
        </div>
        <!-- /.card-body -->
    </div>
}

<div class="card card-primary mt-4">

    <div class="card-header">
        <b>Your Classes</b>
    </div>

    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:6%">#</th>
                <th>Course</th>
                <th>Class</th>
                <th class="text-right" style="width:25%">İşlem</th>
            </tr>
        </thead>

        <tbody>
            @{
                int page = ((int)ViewBag.page);
                int counter = (page - 1) * 10;
            }

            @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <td>@counter</td>
                    <td>@item.Course.Code</td>
                    <td>@item.Classroom.Name</td>
                    <td class="text-right">
                        <a href="/MyClasses/Files/?courseId=@item.CourseClassroomID" class="Button btn btn-sm btn-danger editBtn" data-id="@item.InstructorID">
                        Dosyalar
                        </a>
                        <a href="/MyClasses/Attendance?courseId=@item.CourseClassroomID" class="Button btn btn-sm btn-warning editBtn" data-id="@item.InstructorID">
                            Yoklamalar
                        </a>
                        <a href="/MyClasses/Announcement?courseId=@item.CourseClassroomID" class="Button btn btn-sm btn-success editBtn" data-id="@item.InstructorID">
                            Announcements
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="col-md-12">
        <div class="float-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewBag.search }), new PagedListRenderOptionsBase
            {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link", "text-bold" },
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToIndividualPages = true
            })
        </div>
    </div>

</div>
