@model PagedList<UniQR2.Models.CourseClassroom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#addClassroomModal">
</button>

<form class="form-inline float-right" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="@ViewBag.search" />
    <button class="btn btn-primary" type="submit">Search</button>
</form>

@if (TempData["message"] != null)
{
    NotificationViewModel message = NotificationViewModel.GetNotificationFromJson(TempData["message"].ToString());

    <div class="mt-4 card margin-bottom-top bg-gradient-@message.NotificationType.ToString()">
        <div class="card-header">
            <h3 class="card-title">@message.Title</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>

        <!-- /.card-header -->
        <div class="card-body">
            @message.Content
        </div>
        <!-- /.card-body -->

    </div>
}

@if (ViewBag.search != null)
{
    <div class="mt-4 card margin-top bg-gradient-info">
        <div class="card-header">
            <h3 class="card-title"></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @ViewBag.searchCount results have been found from the search for "@ViewBag.search" in <span class="badge badge-light">Class name</span> and <span class="badge badge-light">Floor</span><br />
            @Html.ActionLink("Clear Search", "Index", "Classroom", null, new { @class = "btn btn-sm btn-dedfault mt-2" })
        </div>
        <!-- /.card-body -->
    </div>
}


@if (ViewBag.search != null)
{
    <div class="mt-4 card margin-top bg-gradient-info">
        <div class="card-header">
            <h3 class="card-title"></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @ViewBag.searchCount results have been found from the search for "@ViewBag.search" in <span class="badge badge-light">Class name</span> and <span class="badge badge-light">Floor</span><br />
            @Html.ActionLink("Clear Search", "Index", "Classroom", null, new { @class = "btn btn-sm btn-dedfault mt-2" })
        </div>
        <!-- /.card-body -->
    </div>
}

<div class="card card-primary mt-4">

    <div class="card-header">
        Your Classes
    </div>

    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:6%">#</th>
                <th>Course</th>
                <th>Class</th>
            </tr>
        </thead>

        <tbody>
            @{
                int page = ((int)ViewBag.page);
                int counter = (page - 1) * 10;
            }

            @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <td>@counter</td>
                    <td>@item.Course.Code</td>
                    <td>@item.Classroom.Name</td>
                    <td>
                    <td class="text-right">
                        <button class="btn btn-sm btn-warning editBtn" data-toggle="modal" data-target="#editClassModal" data-id="@item.InstructorID">
                            Edit
                        </button>
                        <button class=" btn btn-sm btn-danger editBtn" data-toggle="modal" data-target="#deleteClassModal" data-id="@item.InstructorID">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="col-md-12">
        <div class="float-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewBag.search }), new PagedListRenderOptionsBase
       {
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link", "text-bold" },
           DisplayLinkToFirstPage = PagedListDisplayMode.Always,
           DisplayLinkToLastPage = PagedListDisplayMode.Always,
           DisplayLinkToNextPage = PagedListDisplayMode.Always,
           DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
           DisplayLinkToIndividualPages = true
       })
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" tabindex="-1" role="dialog" id="editClassModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Class</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="MyClasses" asp-action="EditClass" method="post">
                    <input type="hidden" class="InstructorID" id="InstructorID" name="InstructorID" />

                    <div class="form-group">
                        <label for="Course">Course:</label>
                        <select class="form-control CourseID" name="CourseID">
                            <option value="CourseID"></option>
                            @foreach (var item in (List<Course>)ViewBag.course)
                            {
                                <option value="@item.CourseID">@item.Code</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Classroom">Classroom:</label>
                        <select class="form-control ClassroomID" name="ClassroomID">
                            <option value="ClassroomID"></option>
                            @foreach (var item in (List<Classroom>)ViewBag.classroom)
                            {
                                <option value="@item.ClassroomID">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Edit" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".editBtn").on("click", function () {
                var courseClassroomID = $(this).data("id");
                var getUserUrl = "@Url.Action("GetClass", "MyClasses", null, "http")";
                var fullUrl = getUserUrl + "/" + courseClassroomID;

                $.get(fullUrl, function (data, status) {
                    $("select.ClassroomID").val(data.classroomID);
                    $("select.CourseID").val(data.courseID);
                    $("input.InstructorID").val(data.instructorID);
                });

            })
        })
    </script>
}